body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffefba, #ffffff); /* Changed background */
    color: #333;
    padding-top: 56px; /* Add padding for fixed navbar */
}
.header-text {
    color: #ccc;
}
.nav-link {
    font-weight: bold;
}
.section {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1); /* Increased shadow */
    margin-bottom: 20px;
}
.project {
    margin-bottom: 20px;
}
.icon {
    color: #007bff;
    margin-right: 10px;
}
footer {
    background: #343a40;
    color: #fff;
    padding: 20px 0;
}
.nav-link {
    color: #fff;
    transition: color 0.3s;
}
.nav-link:hover {
    color: #007bff;
}
.fixed-top {
    background-color: rgba(52, 58, 64, 0.9); /* Navbar transparency */
    transition: background-color 0.5s ease;
}
